body {
    background-color: rgb(15, 41, 49);
    color: rgb(206, 185, 185);
}

p {
    padding: 0%;
    margin-block: auto;
}

.activity a {
    color: hotpink;
}

.content {
    overflow: auto;
    /* border: 1px solid #999999; */
}

.content a {
    color: hotpink;
}

.content div {
    padding: 5px;
    /* border: 1px solid #999999; */
}

.portrait {
    float: left;
    width: 128px;
    /* background: #1c87c9; */
    /* border: 1px solid #999999; */
}

.info {
    float: left;
    /* border: 1px solid #999999; */
    /* background: #8ebf42; */
}