<!DOCTYPE html>
<html>

<head>
    <title>{{alliance_name}} Info</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <script type="text/javascript" src="/js/script.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <div class="content">
        <div class="portrait">
            <img src="{{{alliance_icon}}}" alt="128x128" width="128" height="128">
        </div>
        <div class="info">
            <div id="aliance">
                Alliance:
                <a href="/gui/alliance/{{corporation_name}}/">{{alliance_name}} [{{alliance_ticker}}]</a>
                <a href="https://evewho.com/alliance/{{alliance_id}}">evewho</a>
                <a href="https://zkillboard.com/alliance/{{alliance_id}}/">zkillboard.com</a>
            </div>
            <div id="details">
                <p>Creator: {{alliance_creator_id}}</p>
                <p>Executor Corporation: {{alliance_executor_corporation_id}}</p>
                <p>Founded: {{alliance_founded}}</p>
            </div>
        </div>
        <div class="query">
            <script type="text/javascript">
                function get_action(form) {
                    const alliance = document.getElementById("alliance_name").value
                    form.action = "/gui/alliance/" + alliance + "/";
                    form.method = "get";
                }
            </script>
            <form onsubmit="get_action(this);">
                <input type="text" id="alliance_name" placeholder="Search Alliance ...">
                <input type="submit" hidden />
            </form>
        </div>
    </div>
    <div class="activity">
        <h4>Activity last 30 days:</h4>
        <div id="wins_head" div style="display: inline">...</div>
        <div id="wins" div style="display: inline">...</div>
        <div id="losses_head" div style="display: inline">...</div>
        <div id="losses" div style="display: inline">...</div>
        <script>
            fetch("http://zkbinfo:8080/api/alliance/activity/{{alliance_id}}/")
                .then(response => response.json())
                .then(activities => {
                    const wins_prefix = "win";
                    const wins_damage = activities.wins.total_damage;
                    const wins_solar_systems = sort_by_count(activities.wins.solar_systems);
                    const wins_ships = sort_by_count(activities.wins.ships);
                    document.getElementById("wins_head").innerHTML = "<h5>Wins: " + activities.wins.total_count + "</h5>";
                    document.getElementById("wins").innerHTML =
                        make_damage(wins_damage) +
                        make_items("Systems with most activities", wins_prefix, wins_solar_systems) +
                        make_items("Favorite ships", wins_prefix, wins_ships);

                    requestNamesAsync(Array.from(wins_solar_systems.keys()))
                        .then(names => {
                            names.forEach((obj) => {
                                const id = obj.id;
                                const name = obj.name;
                                const count = wins_solar_systems.get(`${id}`);
                                const href = `<a href="https://zkillboard.com/system/${id}/">${name} (${count})</a>`;
                                const element = `${wins_prefix}_${id}`;
                                document.getElementById(element).innerHTML = href;
                            });
                        });

                    requestNamesAsync(Array.from(wins_ships.keys()))
                        .then(names => {
                            names.forEach((obj) => {
                                const id = obj.id;
                                const name = obj.name;
                                const count = wins_ships.get(`${id}`);
                                const href = `<a href="/gui/alliance/{{alliance_id}}/lost/${id}/">${name} (${count})</a>`;
                                const element = `${wins_prefix}_${id}`;
                                document.getElementById(element).innerHTML = href;
                            });
                        });

                    const losses_prefix = "loss";
                    const losses_damage = activities.losses.total_damage;
                    const losses_solar_systems = sort_by_count(activities.losses.solar_systems);
                    const losses_ships = sort_by_count(activities.losses.ships);
                    document.getElementById("losses_head").innerHTML = "<h5>Losses: " + activities.losses.total_count + "</h5>";
                    document.getElementById("losses").innerHTML =
                        make_damage(losses_damage) +
                        make_items("Systems with most activities", losses_prefix, losses_solar_systems) +
                        make_items("Favorite ships", losses_prefix, losses_ships);

                    requestNamesAsync(Array.from(losses_solar_systems.keys()))
                        .then(names => {
                            names.forEach((obj) => {
                                const id = obj.id;
                                const name = obj.name;
                                const count = losses_solar_systems.get(`${id}`);
                                const href = `<a href="https://zkillboard.com/system/${id}/">${name} (${count})</a>`;
                                const element = `${losses_prefix}_${id}`;
                                document.getElementById(element).innerHTML = href;
                            });
                        });

                    requestNamesAsync(Array.from(losses_ships.keys()))
                        .then(names => {
                            names.forEach((obj) => {
                                const id = obj.id;
                                const name = obj.name;
                                const count = losses_ships.get(`${id}`);
                                const href = `<a href="/gui/alliance/{{alliance_id}}/lost/${id}/">${name} (${count})</a>`;
                                const element = `${losses_prefix}_${id}`;
                                document.getElementById(element).innerHTML = href;
                            });
                        });
                })
                .catch((err) => console.log("Can't access: " + err));
        </script>
    </div>
    <div class="friends">
        <h5>Friends:</h5>
        <div id="friendly_corps" div style="display: inline">...</div>
        <div id="friendly_allis" div style="display: inline">...</div>
        <script>
            fetch("http://zkbinfo:8080/api/alliance/friends/corp/{{alliance_id}}/")
                .then(response => response.json())
                .then(friends => {
                    let map = sort_by_count(friends);
                    map.delete(`{{alliance_id}}`);
                    document.getElementById("friendly_corps").innerHTML = make_items("Friendly Corporations", "friend", map);
                    requestNamesAsync(Array.from(map.keys())).then(names => update("corporation", "friend", names, map));
                })
                .catch((err) => console.log("Can't access: " + err));

            fetch("http://zkbinfo:8080/api/alliance/friends/alli/{{alliance_id}}/")
                .then(response => response.json())
                .then(friends => {
                    let map = sort_by_count(friends);
                    map.delete(`{{alliance_id}}`);
                    document.getElementById("friendly_allis").innerHTML = make_items("Friendly Alliances", "friend", map);
                    requestNamesAsync(Array.from(map.keys())).then(names => update("alliance", "friend", names, map));
                })
                .catch((err) => console.log("Can't access: " + err));
        </script>
    </div>
    <div class="enemies">
        <h5>Enemies:</h5>
        <div id="enemy_corps" div style="display: inline">...</div>
        <div id="enemy_allis" div style="display: inline">...</div>
        <script>
            fetch("http://zkbinfo:8080/api/alliance/enemies/corp/{{alliance_id}}/")
                .then(response => response.json())
                .then(enemies => {
                    const map = sort_by_count(enemies, 6);
                    document.getElementById("enemy_corps").innerHTML = make_items("Enemy Corporations", "enemy", map);
                    requestNamesAsync(Array.from(map.keys())).then(names => update("corporation", "enemy", names, map));
                })
                .catch((err) => console.log("Can't access: " + err));

            fetch("http://zkbinfo:8080/api/alliance/enemies/alli/{{alliance_id}}/")
                .then(response => response.json())
                .then(enemies => {
                    let map = sort_by_count(enemies, 6);
                    document.getElementById("enemy_allis").innerHTML = make_items("Enemy Alliances", "enemy", map);
                    requestNamesAsync(Array.from(map.keys())).then(names => update("alliance", "enemy", names, map));
                })
                .catch((err) => console.log("Can't access: " + err));
        </script>
    </div>
    <div class="prime_time">
        <br/>
        <h5>{{alliance_name}}'s prime time:</h5>
        <canvas id="prime_time" width="800" height="200">Your browser does not support the canvas element.</canvas>
        <script>
            fetch("http://zkbinfo:8080/api/alliance/activity/hourly/{{alliance_id}}/")
                .then(response => response.json())
                .then(hourly => {
                    draw_prime_time(hourly);
                });
        </script>

    </div>

</body>

</html>