<!DOCTYPE html>
<html>

<head>
    <title>{{character_name}} Info</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <script type="text/javascript" src="/js/script.js"></script>


    <div class="content">
        <div class="portrait">
            <img src="{{{img_128x128}}}" alt="128x128" width="128" height="128">
        </div>
        <div class="info">
            <div id="character">
                Character Name: {{character_name}}
                <a href="https://evewho.com/character/{{character_id}}">evewho</a>
                <a href="https://zkillboard.com/character/{{character_id}}/">zkillboard.com</a>
            </div>
            <div id="corporation">
                Corporation Name:
                <div id="{{corporation_id}}" div style="display: inline">...</div>
                <script>
                    fetch("https://esi.evetech.net/latest/corporations/{{corporation_id}}/?datasource=tranquility")
                        .then(response => response.json())
                        .then(json => document.getElementById("{{corporation_id}}").innerHTML =
                            json.name + " [" + json.ticker + "] (" + json.member_count + ")"
                        )
                        .catch((err) => console.log("Can’t access: " + err));
                </script>
                <a href="https://evewho.com/corporation/{{corporation_id}}">evewho</a>
                <a href="https://zkillboard.com/corporation/{{corporation_id}}/">zkillboard.com</a>
            </div>
            {{#if alliance_id}}
            <div id="aliance">
                Alliance Name:
                <div id="{{alliance_id}}" div style="display: inline">...</div>
                <script>
                    fetch("https://esi.evetech.net/latest/alliances/{{alliance_id}}/?datasource=tranquility")
                        .then(response => response.json())
                        .then(json => document.getElementById("{{alliance_id}}").innerHTML =
                            json.name + " [" + json.ticker + "]"
                        )
                        .catch((err) => console.log("Can’t access: " + err));
                </script>
                <a href="https://evewho.com/alliance/{{alliance_id}}">evewho</a>
                <a href="https://zkillboard.com/alliance/{{alliance_id}}/">zkillboard.com</a>
            </div>
            {{/if}}
            <div id="details">
                <p>Character Gender: {{character_gender}}</p>
                <p>Birthday: {{character_birthday}}</p>
                <p>Security Status: {{character_security_status}}</p>
                <p>
                    <div id="demo" div style="display: inline">...</div>
                </p>
                <script>
                    const url = "http://zkbinfo:8080/api/character/activity/{{character_id}}/";
                    fetch(url)
                        .then(response => response.json())
                        .then(activities => document.getElementById("demo").innerHTML = format(activities))
                        .catch((err) => console.log("Can’t access: " + err));
                </script>

            </div>
        </div>
    </div>
    <div class="activity">
        <div id="activity" div style="display: inline">...</div>
        <script>
            fetch("http://zkbinfo:8080/api/character/activity/{{character_id}}/")
                .then(response => response.json())
                .then(activities => document.getElementById("activity").innerHTML =
                    "<p>Activity last 14 days:<p>" +
                    "<p>Wins: " + activities.wins.killmails.length + "<p>" +
                    "<p>Total damage dealt: " + activities.wins.total_damage + "<p>" +
                    "<p>Systems with most activities: " + most_active_systems(activities.wins.solar_systems) + "<p>" +
                    "<p>Favorite ships: " + most_active_ships(activities.wins.ships, 5) + "<p>" +
                    ""
                )
                .catch((err) => console.log("Can’t access: " + err));
        </script>
    </div>
</body>

</html>