<!DOCTYPE html>
<html>

<head>
    <title>{{corporation_name}} Info</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <script type="text/javascript" src="/js/script.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <div class="content">
        <div class="portrait">
            <img src="{{{img_128x128}}}" alt="128x128" width="128" height="128">
        </div>
        <div class="info">
            <div id="character">
                Name: {{corporation_name}}
                <a href="https://evewho.com/character/{{corporation_id}}">evewho</a>
                <a href="https://zkillboard.com/character/{{corporation_id}}/">zkillboard.com</a>
                <p>Alliance id: {{alliance_id}}</p>
                <p>Date Founded: {{date_founded}}</p>
            </div>

            <br/>
            <p>{{corporation_name}}'s prime time:</p>
            <canvas id="prime_time" width="800" height="200">Your browser does not support the canvas element.</canvas>
            <script>
                fetch("http://zkbinfo:8080/api/corporation/activity/hourly/{{corporation_id}}/")
                    .then(response => response.json())
                    .then(hourly => {
                        draw_prime_time(hourly);
                    });
            </script>
        </div>
    </div>
</body>

</html>