<!DOCTYPE html>
<html>

<head>
    <title>Who is Here</title>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
</head>

<body>
    <script type="text/javascript" src="/js/script.js"></script>
    <div class="content">
        <h3>Who is Here</h3>

        <form action="/gui/who/report/" method="post">
            <label for="characters">Put characters names below:</label>
            <br>
            <textarea name="names" cols="36" rows="28" placeholder="Put charactes names for the local chat, here..."></textarea>
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>

</html>